* {
        box-sizing: border-box;
        margin: 0px 0px;
      }

      .logo {
        margin-bottom: 10px;
        margin-top: 15px;
      }
      .container {
        position: fixed;
        border-right: 2px solid lightgray;
        border-left: 0px;
        border-top: 0px;
        border-bottom: 0px;
        height: 100vh;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-bottom: 0;
        margin-right: 85%;
        top: 0;
        left: 0;
      }
      nav ul li a {
        text-decoration: none;
        color: black;
      }
      nav ul li {
        list-style: none;
        cursor: pointer;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 14px 0px;
        padding: 9px 0px;
      }
      nav ul li:not(.dashboard):hover {
        background-color: rgba(236, 235, 235, 0.877);
        border-radius: 10px;
        margin-right: 10px;
      }
      .dashboard {
        background-color: rgb(34, 125, 199);
        border-radius: 10px;
        margin-right: 10px;
        display: inline-flex;
        width: 95%;
        font-size: 10px;
      }
      h5 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        align-items: center;
        gap: 12px;
        color: rgb(194, 191, 191);
      }
      h5::after {
        content: "";
        flex: 1;
        height: 1px;
        background-color: lightgray;
        margin-right: 10px;
      }
      .dashboard-icon {
        margin-bottom: 4px;
        margin-right: 8px;
        width: 20px;
        font-size: 10px;
      }
      .dashboard-link {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 16px;
        color: white;
      }
      .side-bar-logo {
        margin-right: 9px;
        width: 18px;
      }
      .logo-link {
        position: absolute;
      }
      nav ul {
        padding: 0px 0px 0px 12px;
      }
      header h3 {
        margin: 0px;
        padding: 20px 40px;
        display: inline-block;
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        background-color: #f1f5f9;
      }
      header h3:hover {
        cursor: pointer;
      }
      .body {
        background-color: #f1f5f9;
        height: 1076px;
        margin-left: 276px;
      }
      .total-testline {
        color: gray;
        border-right: 1px solid lightgray;
        padding-right: 6px;
      }

      .busy-testline {
        color: red;
        border-right: 1px solid lightgray;
        padding-right: 6px;
      }
      .available-testline {
        color: green;
        padding-right: 3px;
      }
      .table-wrapper * {
        font-weight: 400 !important;
      }
      .table-wrapper {
        display: inline-flex;
        align-items: center;
        gap: 20px;

        margin-left: 20%;
        margin-top: 0%;

        border: 1px solid lightgray;
        border-radius: 6px;

        padding: 0px 6px;
        background-color: white;

        font-family: system-ui;
        font-size: 13px;

        width: fit-content;
      }
      .table-wrapper table {
        width: auto;
        border-collapse: collapse;
        background-color: white;
      }

      th {
        padding: 0 6px;
        height: 100%;
        line-height: 20px;
      }

      .resource {
        gap: 20px;
      }
      .img-resource {
        position: fixed;
        top: 14px;
        left: 1655px;
      }
      .img-resource:hover {
        cursor: pointer;
      }
      .img-notification {
        width: 15px;
        position: fixed;
        top: 18.2px;
        left: 1705px;
      }
      .img-notification:hover {
        cursor: pointer;
      }
      .img-admin {
        width: 20px;
        position: fixed;
        top: 14.7px;
        left: 1750px;
      }
      .img-admin:hover {
        cursor: pointer;
      }
      .admin-name {
        position: fixed;
        top: 17px;
        left: 1780px;
        font-family: system-ui;
      }
      .admin-name:hover {
        cursor: pointer;
      }
      .container1,
      .container2,
      .container3 {
        border: 1px solid lightgray;
        width: 490px;
        height: 250px;
        border-radius: 14px;
        margin: 17px 14px;
        padding: 25px 15px;
        background-color: white;
        display: inline-flex;
        justify-content: space-between;
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        position: relative;
        height: 22%;
      }

      .arrow-img {
        width: 15px;
        position: absolute;
        left: 465px;
      }
      .wifi-client h4 {
        font-weight: normal;
      }
      .arrow-img:hover {
        cursor: pointer;
      }
      .container1 {
        width: 500px;
        margin: 15px 14px;
      }
      .container2 {
        width: 500px;
        margin: 0;
      }
      .container3 {
        width: 500px;
        margin: 0px 13px;
      }
      .wifi-font {
        color: #7b7c87;
        font-size: 15px;
      }
      .wifi-num {
        position: absolute;
        top: 21%;
        font-size: 21px;
      }
      .counts {
        position: absolute;
        top: 33%;
        font-size: 15px;
      }
      .box-img {
        width: 25%;
        padding-bottom: 29%;
        padding-left: 3.5rem;
        position: relative;
        top: 12%;
      }
      .status {
        border-top: 1px dashed lightgray;
        position: absolute;
        top: 70%;
        display: inline-flex;
        padding-top: 2%;
        padding-bottom: 0%;
        width: 94%;
        justify-content: space-evenly;
      }
      .active {
        background-color: #ecf9f2;
        border-radius: 8px;
        position: absolute;
        left: 0%;
        padding: 0% 38.5% 0% 0%;
      }
      .inactive {
        background-color: #ffeeee;
        border-radius: 8px;
        position: relative;
        left: 25%;
        padding: 0% 38.5% 0% 0%;
      }
      .active-font, .connected-font, .online-font {
        font-size: 77%;
        color: green;
        padding: 0% 23%;
      }
      .inactive-font, .disconnected-font, .offline-font {
        font-size: 77%;
        color: red;
        padding: 0% 23%;
      }
      .connected {
        background-color: #ecf9f2;
        border-radius: 8px;
        position: absolute;
        left: 0%;
        padding: 0% 32.5% 0% 0%;
      }
      .disconnected {
        background-color: #ffeeee;
        border-radius: 8px;
        position: relative;
        left: 25%;
        padding: 0% 32.5% 0% 0%;
      }
      .online {
        background-color: #ecf9f2;
        border-radius: 8px;
        position: absolute;
        left: 0%;
        padding: 0% 37.2% 0% 0%;
      }
      .offline {
        background-color: #ffeeee;
        border-radius: 8px;
        position: relative;
        left: 25.6%;
        padding: 0% 37.2% 0% 0%;
      }