
      *,
      *::before,
      *::after {
        box-sizing: border-box;
        margin: 0px 0px;
      }

      .logo {
        margin-bottom: 10px;
        margin-top: 15px;
      }
      .container {
        position: fixed;
        border-right: 2px solid lightgray;
        border-left: 0px;
        border-top: 0px;
        border-bottom: 0px;
        height: 100vh;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-bottom: 0;
        margin-right: 85%;
        top: 0;
        left: 0;
      }
      nav ul li a {
        text-decoration: none;
        color: black;
      }
      nav ul li {
        list-style: none;
        cursor: pointer;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 14px 0px;
        padding: 9px 0px;
      }
      nav ul li:not(.dashboard):hover {
        background-color: rgba(236, 235, 235, 0.877);
        border-radius: 10px;
        margin-right: 10px;
      }
      .dashboard {
        background-color: rgb(34, 125, 199);
        border-radius: 10px;
        margin-right: 10px;
        display: inline-flex;
        width: 95%;
        font-size: 10px;
      }
      h5 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        align-items: center;
        gap: 12px;
        color: rgb(194, 191, 191);
      }
      h5::after {
        content: "";
        flex: 1;
        height: 1px;
        background-color: lightgray;
        margin-right: 10px;
      }
      .dashboard-icon {
        margin-bottom: 4px;
        margin-right: 8px;
        width: 20px;
        font-size: 10px;
      }
      .dashboard-link {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 16px;
        color: white;
      }
      .side-bar-logo {
        margin-right: 9px;
        width: 18px;
      }
      .logo-link {
        position: absolute;
      }
      nav ul {
        padding: 0px 0px 0px 12px;
      }
      header h3 {
        margin: 0px;
        padding: 20px 40px;
        display: inline-block;
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        background-color: #f1f5f9;
      }
      header h3:hover {
        cursor: pointer;
      }
      .body {
        background-color: #f1f5f9;
        height: 1076px;
        margin-left: 276px;
      }
      .total-testline {
        color: gray;
        border-right: 1px solid lightgray;
        padding-right: 6px;
      }

      .busy-testline {
        color: red;
        border-right: 1px solid lightgray;
        padding-right: 6px;
      }
      .available-testline {
        color: green;
        padding-right: 3px;
      }
      .table-wrapper * {
        font-weight: 400 !important;
      }
      .table-wrapper {
        display: inline-flex;
        align-items: center;
        gap: 20px;

        margin-left: 20%;
        margin-top: 0%;

        border: 1px solid lightgray;
        border-radius: 6px;

        padding: 0px 6px;
        background-color: white;

        font-family: system-ui;
        font-size: 13px;

        width: fit-content;
      }
      .table-wrapper table {
        width: auto;
        border-collapse: collapse;
        background-color: white;
      }

      th {
        padding: 0 6px;
        height: 100%;
        line-height: 20px;
      }

      .resource {
        gap: 20px;
      }
      .img-resource {
        position: fixed;
        top: 14px;
        left: 1655px;
      }
      .img-resource:hover {
        cursor: pointer;
      }
      .img-notification {
        width: 15px;
        position: fixed;
        top: 18.2px;
        left: 1705px;
      }
      .img-notification:hover {
        cursor: pointer;
      }
      .img-admin {
        width: 20px;
        position: fixed;
        top: 14.7px;
        left: 1750px;
      }
      .img-admin:hover {
        cursor: pointer;
      }
      .admin-name {
        position: fixed;
        top: 17px;
        left: 1780px;
        font-family: system-ui;
      }
      .admin-name:hover {
        cursor: pointer;
      }
      .container1,
      .container2,
      .container3 {
        border: 1px solid lightgray;
        width: 490px;
        height: 250px;
        border-radius: 14px;
        margin: 17px 14px;
        padding: 25px 15px;
        background-color: white;
        display: inline-flex;
        justify-content: space-between;
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        position: relative;
        height: 22%;
      }

      .arrow-img {
        width: 15px;
        position: absolute;
        left: 465px;
      }
      .wifi-client h4 {
        font-weight: normal;
      }
      .arrow-img:hover {
        cursor: pointer;
      }
      .container1 {
        width: 500px;
        margin: 15px 14px;
      }
      .container2 {
        width: 500px;
        margin: 0;
      }
      .container3 {
        width: 500px;
        margin: 0px 13px;
      }
      .wifi-font {
        color: #7b7c87;
        font-size: 15px;
      }
      .wifi-num {
        position: absolute;
        top: 21%;
        font-size: 21px;
      }
      .counts {
        position: absolute;
        top: 33%;
        font-size: 15px;
      }
      .box-img {
        width: 25%;
        padding-bottom: 29%;
        padding-left: 3.5rem;
        position: relative;
        top: 12%;
      }
      .status {
        border-top: 1px dashed lightgray;
        position: absolute;
        top: 70%;
        display: inline-flex;
        padding-top: 2%;
        padding-bottom: 0%;
        width: 94%;
        justify-content: space-evenly;
      }
      .active {
        background-color: #ecf9f2;
        border-radius: 8px;
        position: absolute;
        left: 0%;
        padding: 0% 38.5% 0% 0%;
      }
      .inactive {
        background-color: #ffeeee;
        border-radius: 8px;
        position: relative;
        left: 25%;
        padding: 0% 38.5% 0% 0%;
      }
      .active-font, .connected-font, .online-font {
        font-size: 77%;
        color: green;
        padding: 0% 23%;
      }
      .inactive-font, .disconnected-font, .offline-font {
        font-size: 77%;
        color: red;
        padding: 0% 23%;
      }
      .connected {
        background-color: #ecf9f2;
        border-radius: 8px;
        position: absolute;
        left: 0%;
        padding: 0% 32.5% 0% 0%;
      }
      .disconnected {
        background-color: #ffeeee;
        border-radius: 8px;
        position: relative;
        left: 25%;
        padding: 0% 32.5% 0% 0%;
      }
      .online {
        background-color: #ecf9f2;
        border-radius: 8px;
        position: absolute;
        left: 0%;
        padding: 0% 37.2% 0% 0%;
      }
      .offline {
        background-color: #ffeeee;
        border-radius: 8px;
        position: relative;
        left: 25.6%;
        padding: 0% 37.2% 0% 0%;
      }

      .mid-body {
        /* border: 2px solid black; */
        margin: 0px 14px 0px 15px;
        padding-top: 308px;
        padding-right: 18px;
        overflow-x: hidden;
        position: relative;
      }
      .insights {
        background-color: white;
        border: 1px solid lightgrey;
        border-radius: 12px;
        top: 0px;
        width: 49%;
        left: 0px;
        bottom: 0px;
        position: absolute;
      }
      .analytics {
        background-color: white;
        border: 1px solid lightgrey;
        border-radius: 12px;
        top: 0px;
        width: 49.9%;
        right: 0px;
        bottom: 0px;
        position: absolute;
      }
      html {
        overflow-y: scroll;
      }
      .inner-box {
        border: 1px dashed lightgrey;
        border-radius: 13px;
        background-color: #f1f5f9;
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        top: 45px;
      }
      .free {
        position: absolute;
        left: 343px;
        top: 88px;
      }
      .donut-testsuite {
        width: 150px;
        height: 145px;
        position: absolute;
        top: 98px;
        left: 81px;
        border-radius: 50%;
        border: 11px solid lightgray;
        border-top-color: #4caf50;
        border-left-color: #ffd94c;
        border-bottom-color: #ffd94c;
        border-right-color: red;
      }
      .donut-testcase {
        width: 150px;
        height: 145px;
        position: absolute;
        top: 98px;
        left: 375px;
        border-radius: 50%;
        border: 11px solid lightgray;
        border-top-color: #4caf50;
        border-left-color: #ffd94c;
        border-bottom-color: red;
        border-right-color: red;
      }
      .analytics-text {
        font-family: system-ui;
        position: absolute;
        top: 10px;
        left: 14px;
      }
      .inner-ts-text {
        position: absolute;
        left: 35px;
        top: 70px;
        font-family: system-ui;
        font-size: 13px;
      }
      .inner-tc-text {
        position: absolute;
        left: 35px;
        top: 70px;
        font-family: system-ui;
        font-size: 13px;
      }
      .analysis-status {
        display: flex;
        flex-direction: column;
        gap: 0px;
        position: absolute;
        left: 568px;
        top: 110px;
        font-family: system-ui;
      }

      .end-body {
        border: 1px solid lightgray;
        background-color: white;
        max-width: 100%;
        min-height: 385px;
        padding: 20px;
        margin: 15px 16px 0;
        border-radius: 10px;
      }
      .table-data {
        margin-top: 20px;
        border: 1px solid lightgray;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden;
        border-radius: 10px;
      }
      .table-data tr {
        height: 47px;
      }
      .table-data th {
        border: 1px solid #e5e7eb;
      }

      .table-data td {
        border: none;
      }
      .table-tr,
      .table-td {
        padding: 8px 12px;

        /* border: 0px solid #e5e7eb; */
        text-align: left;
        font-family: system-ui;
        font-size: 13px;
      }
      a {
        color: rgb(34, 125, 199);
      }
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .heading {
        font-family: system-ui;
        font-size: 17px;
        font-weight: 700;
      }
      .a-tag {
        text-decoration: underline dotted;
      }
      #view-button {
        height: 37px;
        background-color: white;
        border-radius: 7px;
        border: 1px solid lightgray;
        font-weight: bold;
        font-family: system-ui;
        font-size: 18px;
      }
      #view-button:hover {
        cursor: pointer;
      }
      .status-icon {
        display: inline-flex;
        border: 1px aliceblue;
        padding: 5px 5px 5px 5px;
        border-radius: 5px;
        color: rgb(87 107 116 / 88%);
        font-weight: 800;
        background-color: rgba(236, 235, 235, 0.877);
      }
      .sweep-btn {
        margin-right: 64%;
        background-color: rgba(236, 235, 235, 0.877);
        border-radius: 5px;
      }
      .testcase {
        border: none;
        background-color: rgba(236, 235, 235, 0.877);
        border-radius: 5px;
        padding: 7px;
        color: gray;
        font-size: 15px;
      }
      .testsuite {
        background-color: rgba(236, 235, 235, 0.877);
        border-radius: 5px;
        padding: 7px;
        color: rgb(0 106 192);
        font-size: 15px;
        border: 1px solid rgb(34, 125, 199);
      }
      .testcase:hover,
      .testsuite:hover {
        cursor: pointer;
      }