* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}

/* NAVBAR CSS */

#navbar {
  display: flex;
  align-items: center;
  position: absolute;
  border-bottom: 2px solid white;
  width: 100%; /* ✅ full width */
  max-width: 90%; /* ✅ limit on large screens */
  margin: 0px auto; /* ✅ center */
  padding: 10px; /* ✅ responsive spacing */
  left: 50%; /* ✅ move to middle */
  transform: translateX(-50%); /* ✅ shift back half width */
  top: 20px;
  z-index: 10;
}

nav .logo img {
  border: 2px solid white;
  display: inline-block;
  border-radius: 50px;
  width: 70px;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 14px;
  padding: 0px 10px;
}
.nav-list {
  padding: 0px 20px;
  font-size: 25px;
}

nav ul li {
  position: relative;
  cursor: pointer;
  padding: 10px 10px;
}

nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px;
  width: 0;
  height: 2px;
  background: blue;
}

nav ul li:hover::after {
  width: 100%;
}

.auth-items {
  margin-left: auto;
}
nav .auth-items span {
  position: relative;
}

/* underline (hidden initially) */
nav .auth-items span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px; /* small offset */
  width: 0;
  height: 2px;
  background: blue;
}

/* on hover → show underline */
nav .auth-items span:hover::after {
  width: 100%;
}

nav .auth-items img {
  filter: invert(1);
  width: 30px;
  margin: 15px;
  cursor: pointer;
}

/* Front-Image */

.nav-img {
  position: relative;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 1150px;
  object-fit: cover;
  opacity: 0.5;
}

.container {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  height: 600px;
  align-items: center;

  padding: 65px 200px;
  background-color: white;
}
.container h1 {
  color: #262626;
  font-size: 2.8125rem;
  font-family: "Oswald", sans-serif;
}

.hero {
  position: relative;
}

.car-info {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  max-width: 500px;
  width: 90%;
  z-index: 2;
}
.car-span {
  font-size: 2.25rem;
  font-family: "Oswald", sans-serif;
}
.car-info h1 {
  font-size: 20rem;
  font-family: "Oswald", sans-serif;
  line-height: 1;
}
.car-price {
  display: inline-block;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  margin-top: 50px;
}
.car-btn {
  margin-top: 20px;
  width: 80%;
  padding: 5%;
  background-color: #1c69d4;
  color: white;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  border-radius: 5px;
}
.car-btn:hover {
  cursor: pointer;
  background-color: #115cce;
}

.container-ul {
  display: flex;
  list-style-type: none;
  text-align: center;
}

.car-tools {
  padding: 0px 322px;
  font-size: 2rem;
  white-space: nowrap;
  margin-bottom: 45px;
  font-family: "Oswald", sans-serif;
}

.car-logo img {
  width: 80px;
  height: auto;
  margin: 60px 313px;
}

.car-tool1 button {
  margin: 0px 270px;
  padding: 15px 65px;
  border-radius: 5px;
  background-color: white;
  font-size: 1.4rem;
  font-family: "Oswald", sans-serif;
}

.car-tool1 button:hover {
  
  cursor: pointer;
  outline:2px solid black;
}